/* Slideshow */
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Source+Serif+Pro:wght@200&display=swap");

.testimonials {
  padding: 100px;
  background-color: aliceblue;
  width: 100vw;
  height: 110vh;
  justify-content: center;
  display: flex;
  position: relative;
  max-width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
  margin: 0px;
  margin-top: -3rem;
}

.slideshow {
  /* margin: 0 auto; */
  overflow: hidden;
  width: 80%;
  height: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 28rem;
  width: 100%;
  background-color: #00715d;
  background-size: cover;
}
.testimonial_image {
  align-self: center;
  /* border-radius: 50%; */
  z-index: 1;
  width: 300px;
  height: 400px;
}
.testimonial_desc {
  display: flex;
  align-items: center;
  align-self: center;
  width: fit-content;
  white-space: pre-wrap;
  height: 300px;
  font-size: 20px;
  font-weight: 300;
}

.image_circle {
  position: absolute;
  overflow-x: hidden;
  top: 200px;
  left: 60px;
  width: 280px;
  height: 320px;
  /* border-radius: 50%; */
  background-color: #f8b63c;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #000000;
}
.headerLOL {
  font-family: Nunito;
  font-size: 60px;
  font-weight: 900;
  color: #353436;
  margin-bottom: 20px;
}

.testHead {
  font-family: Nunito;
}

.mobile-Test{
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.test-root{
  width:80%;
  margin: 0 auto;
}


@media screen and (max-width: 1190px) {
.mobile-Test{
  display: block;
}
.testimonials{
  display: none;
}
.headmobile{
  font-size: 40px;
  font-family: Nunito;
  text-align: center;
  padding: 1rem 0rem;
  font-weight: 500;
}
}