.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-more-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 10px;
  font-size: 18px;
}
.active {
  background-color: #42a5f5;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .filter-col {
    display: none;
  }
  .products-col {
    width: 100%;
  }
}
