.about-container {
    max-width: 900px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
  }
  
  .about-container p {
    line-height: 2;
    padding: 0 20px;
  }
  
  .about-container .profile-image {
    text-align: center;
    padding: 30px;
  }
  
  .about-container .profile-image img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 8px;
  }
  
  .projects-container {
    display: flex;
    justify-content: center;
    padding: 8px;
    box-shadow: 0 4px 16px -6px rgba(0, 0, 0, 0.4);
    max-width: 550px;
    margin: 24px auto;
    border-radius: 20px;
  }
  
  .projects-container .project {
    height: 160px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 32px;
  }
  
  .projects-container .project-name {
    font-size: 16px;
  }
  
  .projects-container .project-number {
    font-size: 72px;
    font-weight: bold;
  }
  
  .our-team-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 64px;
  }
  
  .our-team {
    display: flex;
    padding: 30px;
  }
  
  .our-team img {
    width: 100%;
  }
  
  .our-team .team-member {
    margin: 0 4px;
    position: relative;
  }
  
  .our-team .designation {
    position: absolute;
    bottom: 30px;
    background: #fff;
    padding: 12px 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-size: 14px;
  }
  
  .about-container .our-mission {
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .about-container .our-mission .quote-icon {
    position: absolute;
    opacity: 0.2;
    height: 80px;
  }
  
  .about-container .our-mission p {
    margin-left: 100px;
    font-size: 20px;
    font-style: italic;
  }
  
  @media (max-width: 700px) {
    .our-team {
      flex-direction: column;
      align-items: center;
    }
  
    .our-team img {
      height: 250px;
      width: 300px;
      object-fit: cover;
    }
  }

  .nuni{
    font-family: 'Nunito';
  }

  .sans{
    font-family: 'sans-serif';
  }

  .banner{
    
    
    background-color: rgb(0, 113, 93);
    height: 40vh;
     height: "40vh";
  }

  @media screen and (max-width: 600px) {
    .banner{
      height: 15vh;
      font-size: 1.25rem;
      text-align: center;
      padding-top: 1rem;
    }
    .mapbox{
      height:25vh
    }
    .contact-card{
      display: none;
    }
    .display-card{
      width: 65%;
    }
  }

.aryan{
  cursor:pointer;
}
.bb{
   text-decoration: none;
   text-shadow:2%;
   font-size: larger;
}
.ss{
  margin-top: 1%;
  margin-bottom:2%;
  font-weight: bold;
  font-family:cursive;
  font-size: x-large;
}
.cc{
  font-size: larger;
  color:rgb(99, 125, 39) ;
  font-family: cursive;
}
#aa{
  font-weight: bolder;
  font-size: xx-large;
}
#GFG{
  font-weight: bolder;
  font-size:3rem;
}

