.imgBanner{
    background-image: url("../../assets/v921-audi-wit-041.jpg");
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .imgBanner{
        height: 25vh;
    }
    
}