.clock section {
  height: 6rem;
  width: 6rem;
  background-color: white;
  color: black;
  border: 2px solid orange;
  padding: 2rem;
  border-radius: 8rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
@media screen and (max-width: 640px) {
  .clock section {
    height: 2.5rem;
    width: 2.5rem;
    padding: 1rem;
    border-radius: 4rem;
    font-size: x-small;
  }
}
