.profileContainer {
  justify-self: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #fed65c;
  border-radius: 20px;
  overflow: hidden;
}
.userImagelol {
  width: 150px;
  height: 150px;
  margin-left: 50px;
  /* border-radius: 50%; */
  /* background-color: aqua; */
  position: relative;
  top: 60px;
}
.user-card {
  /* background-color: #f5f5f5; */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* width: 100%;
  height: 100%; */
  min-width: 200px;
  /* margin: 0 auto; */
  margin: 0rem 1rem;
  padding-top: 5rem;
  height: 65vh;
  width: 70vw;
  background-color: rgb(249, 245, 233);
}

.user-card_personaldetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nuni{
  font-family: Nunito;
}

.sans{
  font-family: sans-serif;
}

.user-card__header h2 {
  margin: 0;
}

.user-card__header p {
  font-size: 14px;
  margin: 0;
  color: #666;
}

.user-card__details p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.4;
}

.user-card__details p strong {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .profileContainer {
    width: 100%;
    border-radius: 0%;
  }
  .user-card{
    width: 91%;
  }
}
  
