.cont-help{
    width: 100vw;
    height: 100vh;
}

.flexi{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    width: 35%;
    padding: 1rem;
}