/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"); */
@import "@fontsource/nunito";

.offer-root {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2c957c;
  font-size: 1.1em;
  width: 100vw;
  height: auto;
  left: 0;
  position: relative;
  max-width: 100vw;
  padding: 2rem;
  padding-bottom: 4.25rem;
  padding-top: 3rem;
  -webkit-clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
  margin-top: -3rem;
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}

.offer-heading {
  margin-top: 100px;
  color: #25271c;
  font-family: Noto Serif;
  font-weight: 400;
  font-size: 48px;
}

.off-cont {
  display: flex;
  justify-content: space-evenly;
  width: 85vw;
  height: 100%;
  background: none;
  box-shadow: none;
  margin-left: 3rem;
}
.fresh_veges,
.rental_services,
.farming_advicer {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 0px 20px 0px 40px;
  overflow: hidden;
}

.fresh_veges {
  background-image: url(../image/fresh_vegetables.jpg);
}

.rental_services {
  background-image: url(../image//tractorServices.jpg);
}
.farming_advicer {
  background-image: url(../image//farming_advicer.jpg);
}
.know_more {
  -webkit-clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 1vw));
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  font-family: Nunito;
  align-items: center;
  display: flex;
  flex-direction: column;
  bottom: -40px;
  border-radius: 20px 20px 0 0;
  background-color: rgba(0, 0, 0, 0.592);
  transition: height 0.4s;
  border: 3px solid rgb(0, 0, 0);
}
.what_offer_container:hover .know_more {
  height: 70%;
}

.know_more > p,
.know_more > a {
  font-size: 1rem;
  display: none;
}
.know_more > p {
  color: rgb(248, 248, 248);
}
.know_more > .heading {
  text-decoration: underline rgb(193, 177, 5);
  color: rgb(248, 248, 248);
  margin-top: 40px;
  font-size: 1.5rem;
}
.what_offer_container:hover p,
.what_offer_container:hover a {
  margin-top: 15px;
  font-size: 1rem;
  display: flex;
}

.what_are_our_services {
  font-family: Nunito;
}
.bg_circle1 {
  background-image: url(../image/Circle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 500px;
  position: absolute;
  top: -250px;
  left: -250px;
  z-index: -1;
  opacity: 0.4;
}

.bg_circle2 {
  background-image: url(../image/Circle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.4;
}

.mobile-visible {
  display: none;
}

@media screen and (max-width: 640px) {
  .mobile-hidden {
    display: none;
  }
  .mobile-visible {
    display: block;
  }

  .offer-heading {
    margin-top: 0;
    color: #25271c;
    font-family: Noto Serif;
    font-weight: 400;
    font-size: 48px;
  }

  .off-cont {
    display: flex;
    justify-content: space-evenly;
    width: 85vw;
    height: 100%;
    background: none;
    box-shadow: none;
    margin-left: 3rem;
  }
  .fresh_veges,
  .rental_services,
  .farming_advicer {
    position: relative;
    background-size: cover;
    border-radius: 0px 20px 0px 40px;
    overflow: hidden;
  }
  .know_more {
    /* display: none; */
  }
  .fresh_veges,
  .rental_services,
  .farming_advicer {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 0px 10px 0px 10px;
    overflow: hidden;
  }
  .know_more {
    width: 50%;
    height: 40%;
    left: 0;
    font-family: Nunito;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.592);
    transition: height 0.4s;
    border: 3px solid rgb(0, 0, 0);
  }
  .offer-root{
    padding-bottom: 0px;
  }
  .bg_circle2{
    display: none;
  }
}
