.continue-shopping-btn:hover {
  transform: scale(0.9);
}

.continue-shopping-btn {
  width: 100%;
  background-color: #50c878;
  font-size: "1.2rem";
  border-radius: "20px";
  transition: transform 0.1s ease-out;
}

.xyztemp{
  text-align: center;
    font-size: xx-large;
    padding: 3rem 0rem;
}

@media screen and (min-width: 640px) {
}
@media screen and (min-width: 768px) {
  .continue-shopping-btn {
    width: 200px;
  }
}
