.container {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
}

.reset_pass_input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reset_pass_btn {
  display: block;
  margin-top: 2px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.reset_pass_btn:hover {
  background-color: #0062cc;
}

.reset_pass_input[type="number"]::-webkit-inner-spin-button,
.reset_pass_input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.backimg {
  background-color: #2c957c;
}
