.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  padding: 20px;
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 10vh;
  -webkit-transition: all 0.004s ease-in-out 0.004s;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 10px;
  font-size: larger;
  padding: 0rem 0.6rem;
  font-family: system-ui;
}

.navbar-links-a {
  color: #000000;
  text-decoration: none;
}
.hover-a {
  color: black;
  text-decoration: none;
}

.navbar-links li a:hover {
  color: #636363;
}

.navbar-menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-menu-icon {
    display: block;
  }
}

.navbar-scroll {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  height: 10vh;
  align-items: flex-start;
  -webkit-transition: all 0.24s ease-in-out 0.24s;
}
.progressBar {
  position: absolute;
  top: 0;
  left: -10px;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  transform-origin: 0%;
  z-index: 1000;
  border-radius: 10rem;
}
@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .navbar {
    height: 7vh;
    background-color: none;
  }
  .navbar-scroll {
    background-color: transparent;
    box-shadow: none;
    position: fixed;
    width: 100vw;
    height: 7vh;
    align-items: flex-start;
    -webkit-transition: all 0.24s ease-in-out 0.24s;
  }
}
